body {
  margin: 0;
  background: #121212;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.card {
  background: #1e1e1e;
  padding: 24px;
  border-radius: 12px;
  width: 95%;
  max-width: 360px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border-radius: 8px;
  border: none;
}

button {
  background: #1db954;
  font-size: 16px;
}

#members {
  list-style: none;
  padding: 0;
}